*{ margin: 0; padding: 0;}
body{ background:#000000; color:#000000;  font-size: 19px; font-family: arial;  }

a{color:#5e5e5e; text-decoration: none;}
a:hover{color:#f91685; text-decoration: underline;}

header{ height: 98px; width: 100%; background: url(https://rawcdn.githack.com/morenovaborneos/noz/1e84892f8e1474deab69a1b392c77897ca792795/bg-header.jpg) repeat-x; border-top:2px solid #5e5e5e; padding:0 40px; }
.brand{ margin-top:10px;}
.btnlinks{ margin-top: 10px;}
.btn-instant{ text-transform: uppercase; letter-spacing: 1px; font-size: 22px; font-family: arial; text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.8);  }

a.members{color:#fff; text-decoration: none;}
a.members:hover{color:#fff; text-decoration: underline;}
.btn-default {
    color: #FFF;
    background-color: #000000;
    border-color: #5e5e5e;
}

.btn-default:hover {
    color: #FFF;
    background-color: #000000;
    border-color: #5e5e5e;
}

section{ min-height: 300px; background:#000000 url(https://rawcdn.githack.com/morenovaborneos/noz/1e84892f8e1474deab69a1b392c77897ca792795/btm-header.jpg) top repeat-x;  padding:0 0px;}
 

.subtitle,
.pagination{ margin: 15px 0 0 0;padding:0 40px;}
.pagination ul{ margin: 0; padding: 0; }
.pagination ul li{ list-style: none; display: inline;}





.gallery { text-align:center;}
.gallery .holder {
    
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
        height: 252px;
        margin: 7px 4px;
        width: 304px;
	
}
 
.gallery .holder .img-frame {
    display: block;
    height: 248px;
    overflow: hidden;
    position: relative;
    width: 300px;
}
.gallery .holder .img-frame img {
    height:248px;
    width:300px;
	outline:none;
 
     border: 1px solid #5e5e5e;
}
.gallery .holder .img-frame a:first-child {
    display: block;
    height: 248px;
    position: relative;
    width: 300px;
}
.gallery .holder .img-frame .play {
    background: url("https://rawcdn.githack.com/morenovaborneos/noz/1e84892f8e1474deab69a1b392c77897ca792795/overlay.png") no-repeat scroll 0 0 transparent;
    display: none;
    width: 300px;
    height: 248px;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
}

.getaccess { max-width: 790px; margin: 50px auto; text-transform: uppercase; letter-spacing: 1px; font-size: 45px; font-family: arial; font-weight: bold; text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.8);  }


.footerPage{}
.footerPage{ margin: 15px 0;}
.footerPage ul{ margin: 0; padding: 0; text-align: center;}
.footerPage ul li{ list-style: none; display: inline; padding: 0 5px}


.flinks{ margin:50px 0;}
.flinks ul{ margin: 0; padding: 0; text-align: center;}
.flinks ul li{ list-style: none; display: inline; padding: 0 5px;}

.copyright{ font-size: 12px;}
    
@media only screen and (max-width: 647px) {
    .pull-right{ float: none !important; text-align: center;}
    .pull-left{ float: none !important; text-align: center; }
    
    header{ background:#000000; height: auto; padding-bottom: 10px;}
    .subtitle, .pagination {
        margin: 0; 
        padding-top: 10px;
        width:100%;
        text-align: center;
    }
    .pagination{padding-top:0;}
    .getaccess {
        font-size: 20px;
    }
}    
    
 
